figure {
    width: 650px;
    height: 350px;
    margin: 50px auto;
    position: relative;
    text-align: center;
    padding: 8px 8px 8px 8px;
}

figure::before {
    content: '';
    border-top: 3px solid #000;
    border-left: 3px solid #000;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    transition: all 1s;
    transition-delay: height 1s;
    transition-delay: width 1s;
}

figure::after {
    content: '';
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 0;
    width: 0;
    transition: all 1s;
    transition-delay: height 1s;
    transition-delay: width 1s;
}

figure:hover::before,
figure:hover::after {
    height: 50%;
    width: 50%;
}

figure .mask {
    height: 100%;
    opacity: 0;
    transition: all 1s;
}
figure:hover .mask {
    opacity: 1;
}

figcaption {
    font-family: serif;
    font-size: 40px;
    text-transform: uppercase;
    background: #000;
    color: #fff;
    position: absolute;
    width: 100%;
    line-height: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 1s ease-in-out;
}

figure .mask::before {
    content: '';
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    position: absolute;
    bottom: 0px;
    left: 0;
    height: 0;
    width: 0;
    transition: all 1s;
    transition-delay: height 1s;
    transition-delay: width 1s;
}
figure .mask::after {
    content: '';
    border-right: 3px solid #000;
    border-top: 3px solid #000;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 0;
    width: 0;
    transition: all 1s;
    transition-delay: height 1s;
    transition-delay: width 1s;
}

figure:hover .mask::before,
figure:hover .mask::after{
    height: 50%;
    width: 50%;
}

